function PlayerHunter.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 10
pop this 2
push constant 20
pop this 3
push constant 420
push constant 50
sub
pop this 4
push this 1
push constant 10
add
pop this 5
push constant 4
pop this 6
push pointer 0
return
function PlayerHunter.GetX 0
push argument 0
pop pointer 0
push constant 16
push this 0
call Math.multiply 2
return
function PlayerHunter.GetY 0
push argument 0
pop pointer 0
push this 1
return
function PlayerHunter.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PlayerHunter.drawCross 0
push argument 0
pop pointer 0
push this 4
push constant 2
sub
push this 5
push constant 2
sub
push this 4
push constant 2
add
push this 5
push constant 2
add
push constant 0
push constant 0
call Utils.drawRectangleByOffset 6
pop temp 0
push this 4
push constant 4
sub
push this 5
push this 4
push constant 4
add
push this 5
push constant 0
push constant 0
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 0
return
function PlayerHunter.draw 0
push argument 0
pop pointer 0
push this 1
push constant 10
add
pop this 5
push pointer 0
call PlayerHunter.drawCross 1
pop temp 0
push constant 420
push constant 3
add
push this 1
push constant 420
push constant 7
add
push this 1
push constant 4
add
push constant 0
push constant 0
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 420
push constant 2
add
push this 1
push constant 5
add
push constant 420
push constant 8
add
push this 1
push constant 12
add
push constant 0
push constant 0
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 420
push this 1
push constant 5
add
push constant 420
push constant 2
add
push this 1
push constant 10
add
push constant 0
push constant 0
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 420
push constant 8
add
push this 1
push constant 5
add
push constant 420
push constant 10
add
push this 1
push constant 10
add
push constant 0
push constant 0
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 420
push constant 3
add
push this 1
push constant 13
add
push constant 420
push constant 5
add
push this 1
push constant 20
add
push constant 0
push constant 0
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 420
push constant 5
add
push this 1
push constant 13
add
push constant 420
push constant 7
add
push this 1
push constant 20
add
push constant 0
push constant 0
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 0
return
function PlayerHunter.move 0
push argument 0
pop pointer 0
push constant 1
push this 0
push argument 1
add
lt
push this 0
push argument 1
add
push this 2
add
push constant 511
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push argument 1
add
pop this 0
label IF_FALSE0
push constant 0
push this 1
push argument 2
add
lt
push this 1
push argument 2
add
push this 3
add
push constant 255
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push argument 2
add
pop this 1
label IF_FALSE1
push constant 0
return
